/* OK Alterations Style Sheet */

html, body, ul#tags {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#topContainer {
    postion: relative;
    margin: 1.5em 1em 1em 1em;
}
#logo {
    max-width: 40em;
    display: block;
    margin: 0 auto 1.5em auto;
}
#logo img {
    margin: 0, auto;
}
.navBar {
    text-align: center;
    background: black;
    box-shadow: 0px 0px 0px 4px black;
    margin: 2em  -9999em 3em -9999em;
}
ul#tags, li {
    list-style-type: none;
    display: inline;
    color: white;
    font-size: 105%;
    font-family: "Courier New";
}

.address {
  text-align: center;
  font-family: sans-serif;
}

#location:hover {
    background-color: rgb(197, 215, 222);
}
#contact:hover {
    background-color: rgb(228, 161, 219);
}
#services:hover {
    background-color: rgb(196, 122, 90);
}
#about:hover {
    background-color: rgb(209, 73, 65);
}
.blueBox{
  background-color: rgb(100, 120, 157);

}
