/* OK Alterations Style Sheet */

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#topContainer {
    postion: relative;
    margin: 1.5em 1em 1em 1em;
}
#logo {
    max-width: 37em;
    display: block;
    margin: 0 auto 1em auto;
}
#logo img {
    margin: 0, auto;
}
.navBar {
    margin: 0, -9999em;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
    border: .1em solid black;
    margin: 0 -9999em 3em -9999em;
}
.navBarWrapper {
    border-width: 10em;
    border-color: rgb(255, 255, 255);
    padding-bottom: 3em;
}
ul#tags {
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
li {
    display: inline;
    color: white;
    font-size: 110%;
    font-weight: lighter;
    font-family: courier;
}

#location:hover{
  text-decoration: underline;
  text-decoration-color: rgb(197, 215, 222);
}

#contact:hover{
  text-decoration: underline;
  text-decoration-color: rgb(235, 196, 231)
}

#services:hover{
  text-decoration: underline;
  text-decoration-color: rgb(205, 110, 69);
}

#about:hover{
  text-decoration: underline;
  text-decoration-color: rgb(209, 73, 65);
}
